# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt
.vscode

# Files from Forge MDK
forge*changelog.txt

zzzz
gradle
mcmodsrepo
